<?xml version="1.0" encoding="utf-8"?>
<config>
        <database>
                <host>127.0.0.1</host>
                <port>3306</port>
                <user>camblms</user>
                <password>V3l3tlen_J3lsz0</password>
                <name>camblogistics</name>
        </database>
        <email>
                <host>localhost</host>
                <port>25</port>
                <domain>localhost</domain>
        </email>
</config>
