<!DOCTYPE html>
<html lang="hu" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>CambLogistics progi</title>
      <link rel="stylesheet" href="adminstyle.css">
      <link rel="icon" type="image/x-icon" href="icon.png">
   </head>
   <body>
      <div class="sidenav">
         <ul>
            <li style="padding-bottom: 40px; padding-top: 40px;"><img src="logo.png" width="275px">
            <li><hr>
            <li><a href="info.html">Normál felület</a>
            <li><hr>
            <li><a href="hivas.html">Hívások</a>
            <li><a href="nev.html">Név változtatás</a>
            <li><a href="regi.html">Regisztráció</a>
            <li><hr>
            <li><a href="tagok.html">Tagok</a>
            <li><a href="szerviz.html">Szervíz díjak</a>
            <li><hr>
            <li><a href="admin.html">Admin felület</a>
         </ul>
      </div>
      <div class="main">
         <div class="gombok">
            <a href="hivas.html"><button class="infogombok">Hívások</button></a>
            <a href="nev.html"><button class="infogombok">Név változtatás</button></a>
            <a href="regi.html"><button class="infogombok">Regisztráció</button></a>
            <a href="tagok.html"><button class="infogombok">Tagok</button></a>
            <a href="szerviz.html"><button class="infogombok">Szervíz díjak</button></a>
         </div>
      </div>
   </body>
</html>
