   <body>
      <div class="main">
         <div class="gombok">
            <a href="hivas.html"><button class="infogombok">Hívások</button></a>
            <a href="nev.html"><button class="infogombok">Név változtatás</button></a>
            <a href="regi.html"><button class="infogombok">Regisztráció</button></a>
            <a href="tagok.html"><button class="infogombok">Tagok</button></a>
            <a href="szerviz.html"><button class="infogombok">Szervíz díjak</button></a>
         </div>
      </div>
   </body>
</html>
