      <div class="main" style="display:none;" id="edit">
         <h2 class="szoveg_th" style="text-align: left; padding-bottom: 0px;">Autó felvétele</h2>
            <table>
               <tr>
                  <td style="padding-right: 30px;padding-top: 10px;">
                     <label class="szoveg_td_also">ID</label><br>
                     <input class="inputbox" ws-var="NewID" type="text" name="ID">
                  </td>
                  <td style="padding-right: 30px;padding-top: 10px;">
                     <label class="szoveg_td_also">Típus</label><br>
                     <input class="inputbox"ws-var="NewType" type="text" name="Type">
                  </td>
                  <td style="padding-right: 30px;padding-top: 10px;">
                     <label class="szoveg_td_also">Plate</label><br>
                     <input class="inputbox"ws-var="NewRegNum" type="text" name="Plate">
                  </td>
               </tr>
               <tr>
                  <td style="padding-right: 30px;padding-top: 25px;">
                     <label class="szoveg_td_also">Parkjegy</label><br>
                     <input type="checkbox" ws-var="NewTicket" name="Park">
                  </td>
                  <td style="padding-right: 30px;padding-top: 25px;">
                     <label class="szoveg_td_also">Airride</label><br>
                     <input type="checkbox" ws-var="NewAirRide" name="Air">
                  </td>
                  <td style="padding-right: 30px;padding-top: 25px;">
                     <label class="szoveg_td_also">GPS</label><br>
                     <input type="checkbox" ws-var="NewGPS" name="GPS">
                  </td>
               </tr>
               <tr>   
                  <td style="padding-right: 30px;padding-top: 25px;">
                     <label class="szoveg_td_also">Motor</label><br>
                     <select class="dropdown" ws-var="NewEngine" style="width: 150px">
                        <option ws-replace="EngineTuningList"></option>
                        <option ws-template="TuningItem" value="${TuningLevel}">${TuningName}</option>
                     </select>
                  </td>
                  <td style="padding-right: 30px;padding-top: 25px;">
                     <label class="szoveg_td_also">ECU</label><br>
                     <select class="dropdown" ws-var="NewECU" style="width: 150px">
                        <option ws-replace="ECUTuningList"></option>
                     </select>
                  </td>
                  <td style="padding-right: 30px;padding-top: 25px;">
                     <label class="szoveg_td_also">Turbó</label><br>
                     <select class="dropdown" ws-var="NewTurbo" style="width: 150px">
                        <option ws-replace="TurboTuningList"></option>
                     </select>
                  </td>
                  <td style="padding-right: 30px;padding-top: 25px;">
                     <label class="szoveg_td_also">Váltó</label><br>
                     <select class="dropdown" ws-var="NewGearbox" style="width: 150px">
                        <option ws-replace="GearboxTuningList"></option>
                     </select>
                  </td>
               </tr>
               <tr>
                  <td style="padding-right: 30px;padding-top: 25px;">
                     <label class="szoveg_td_also">Fék</label><br>
                     <select class="dropdown" ws-var="NewBrakes" style="width: 150px">
                        <option ws-replace="BrakeTuningList"></option>
                     </select>
                  </td>
                  <td style="padding-right: 30px;padding-top: 25px;">
                     <label class="szoveg_td_also">Gumi</label><br>
                     <select class="dropdown" ws-var="NewTyres"  style="width: 150px">
                        <option ws-replace="TyreTuningList"></option>
                     </select>
                  </td>
                  <td style="padding-right: 30px;padding-top: 25px;">
                     <label class="szoveg_td_also">Felfüggesztés</label><br>
                     <select class="dropdown" ws-var="NewSuspension" style="width: 150px">
                        <option ws-replace="SuspensionTuningList"></option>
                     </select>
                  </td>
                  <td style="padding-right: 30px;padding-top: 25px;">
                     <label class="szoveg_td_also">Súlycsökkentés</label><br>
                     <select class="dropdown" ws-var="NewWeightReduction" style="width: 150px">
                        <option ws-replace="WeightReductionTuningList"></option>
                     </select>
                  </td>
               </tr>
               <tr>
                  <td style="padding-right: 30px;padding-top: 25px;">
                     <label class="szoveg_td_also">Kulcs1</label><br>
                     <select class="dropdown" ws-var="NewKeyHolder1" style="width: 150px">
                        <option value="-1">Senki</option>
                        <option ws-replace="MemberList1"></option>
                        <option ws-template="KHListMember" value="${UserID}">${Name}</option>
                     </select>
                  </td>
                  <td style="padding-right: 30px;padding-top: 25px;">
                     <label class="szoveg_td_also">Kulcs2</label><br>
                     <select class="dropdown" ws-var="NewKeyHolder2" style="width: 150px">
                        <option value="-1">Senki</option>
                        <option ws-replace="MemberList2"></option>
                     </select>
                  </td>
                  <td>
                     <button ws-onclick="Confirm" class="approve" id="approvecar">Jóváhagy</button>
                  </td>
               </tr>
            </table>
      </div>
      <div class="main">
            <table class="listak">
               <th colspan="14" class="szoveg_th">Autók</th>
               <tr class="szoveg_td">
                  <td rowspan="2">ID</td>
                  <td rowspan="2">Típus</td>
                  <td rowspan="2">Rendszám</td>
                  <td rowspan="2">Park</td>
                  <td rowspan="2">Air</td>
                  <td rowspan="2">GPS</td>
                  <td colspan="8">Tuning</td>
                  <td rowspan="2">Key1</td>
                  <td rowspan="2">Key2</td>
                  <td rowspan="2">Szerkesztés</td>
               </tr>
               <tr class="szoveg_td_also">
                  <td>Motor</td>
                  <td>ECU</td>
                  <td>Turbó</td>
                  <td>Váltó</td>
                  <td>Fék</td>
                  <td>Gumi</td>
                  <td>Súlycsöki</td>
                  <td>Felfügi</td>
               </tr>
               <tr><td colspan="16" style="border-bottom: 2px solid rgba(255, 180, 40, 0.9);"></td></tr>
               <tr ws-replace="CarList"></tr>
               <tr ws-template="CarItem">
                  <td class="adat">${ID}</td>
                  <td class="adat">${CarType}</td>
                  <td class="adat">${CarReg}</td>
                  <td class="adat">
                     <input type="checkbox" ws-var="OldTicket" class="checkbox" disabled>
                  </td>
                  <td class="adat">
                     <input type="checkbox" ws-var="OldAirRide" class="checkbox" disabled>
                  </td>
                  <td class="adat">
                     <input type="checkbox" ws-var="OldGPS" class="checkbox" disabled>
                  </td>
                  <td class="adat">${Engine}</td>
                  <td class="adat">${ECU}</td>
                  <td class="adat">${Turbo}</td>
                  <td class="adat">${Gearbox}</td>
                  <td class="adat">${Brakes}</td>
                  <td class="adat">${Tyres}</td>
                  <td class="adat">${WeightReduction}</td>
                  <td class="adat">${Suspension}</td>
                  <td class="adat">${Key1}</td>
                  <td class="adat">${Key2}</td>
                  <td class="adat"><button ws-replace="EditButtonPlaceholder"></button><button ws-template="EditButtonTemplate" ws-onclick="Edit" class="approve">Szerkesztés</button></td>
               </tr>
            </table>
      </div>