<div class="main">
	<h2>Changelog</h2>
	<div style="color: white;">
		<h4>v0.4.0 (Alpha) | 2022.0?.??.</h4>
			Bejelentkező- és regisztrációs oldalon az "Enter" gomb lenyomásával is be lehet lépni/regisztrálni<br>
			Inaktivitás jelentés mostmár a programon belül fog történni<br>
			Elfelejtett jelszós rendszer implementálása<br>
			Beszállítós információk eltávolítva a főoldalról<br>
			Kevesebb villódzás az [ADMIN] oldalakon<br>
	</div>
	<div style="color: white;">
		<h4>v0.3.2 (Alpha) | 2022.06.17.</h4>
			Az érvényes munkamenettel rendelkező, de elfogadásra váró felhasználók kijelentkeztetésre kerülnek<br>
			Felhasználó törlésekor érvénytelenedik annak összes munkamenete<br> 
			A szervizképek külön ablakban jelennek meg[ADMIN]<br>
	</div>
	<div style="color: white;">
		<h4>v0.3.1 (Alpha) | 2022.06.15.</h4>
			Jelszóváltoztatás javítva<br>
			A képekhez csak megfelelő jogosultsággal lehet hozzáférni<br>
	</div>
	<div style="color: white;">
		<h4>v0.3.0 (Alpha) | 2022.06.15.</h4>
			Felhasználók rendezése rang szerint[ADMIN]<br>
			Híváskezelésnél felhasználók rendezése hívások szerint csökkenő sorrendben[ADMIN]<br>
			Emelt ár megjelenítése a beszállításnál dupla helyett<br>
			Nem jelennek meg a felhasználóénál magasabb rangok a rangmódosításnál[ADMIN]<br>
			A navbarban nincs dupla elválasztó<br>
			Rugalmasabb jogosultságrendszer<br>
	</div>
	<div style="color: white;">
		<h4>v0.2.0 (Alpha) | 2022.06.12.</h4>
			Munkamenet meghosszabbításra kerül minden oldalbetöltéskor<br>
			Szervizképek és iratok megjelenítése[ADMIN]<br>
			Beszállításnál és vontatásnál csak 1.25 szorzó munkaidőn kívül<br>
	</div>
	<div style="color: white;">
       		<h4>v0.1.0 (Alpha) | 2022.06.11.</h4>
             	Bejelentkezés és regisztráció kinézete javítva<br>
             	Sikeres regisztációkor átirányít a bejelentkező oldalra<br>
             	Nincs fix lejárati ideje a sütinek<br>
             	Nyitvatartás/dupla árak kezelése<br>
	</div>
	<div style="color: white;">
       		<h4>v0.0.1 (Pre-Alpha) | 2022.05.22.</h4>
				Első működő verzió
	<div>
 </div>
