<div class="main">
    <table>
       <tr><td><h2>Changelog</h2></td></tr>
       <tr><td style="padding-top: 0px;"><h4>v0.0.1 (Pre-Alpha) | 2022.05.17.</h4></td></tr>
       <tr><td>
          <ul style="background-color: transparent;">
             <li>Asd</li>
             <li>Asd</li>
             <li>Asd</li>
          </ul>
       </td></tr>
       <tr><td style="padding-top: 25px;"><h4>v0.0.1 (Pre-Alpha) | 2022.05.17.</h4></td></tr>
       <tr><td>
          <ul style="background-color: transparent;">
             <li>Asd</li>
             <li>Asd</li>
             <li>Asd</li>
          </ul>
       </td></tr>
 </div>