<div class="main">
    <table>
       <tr><td><h2>Changelog</h2></td></tr>
       tr><td style="padding-top: 0px;"><h4>v0.1.0 (Alpha) | 2022.06.11.</h4></td></tr>
       <tr><td>
          <ul style="background-color: transparent;">
             <li>Bejelentkezés és regisztráció kinézete javítva</li>
             <li>Sikeres regisztációkor átirányít a bejelentkező oldalra</li>
             <li>Nincs fix lejárati ideje a sütinek</li>
             <li>Nyitvatartás/dupla árak kezelése</li>
          </ul>
       </td></tr>
       <tr><td style="padding-top: 0px;"><h4>v0.0.1 (Pre-Alpha) | 2022.05.22.</h4></td></tr>
       <tr><td>
          <ul style="background-color: transparent;">
             <li>Első funkcionális verzió</li>
          </ul>
       </td></tr>
       </table>
 </div>