     <div class="main">
      <p style="text-align: center;"><span id="success" style="display: none;"></span><span id="error" style="display: none;"></span></p>
         <table class="uticel_taxi">
            <th class="szoveg_th" colspan="2">Beszállítás</th>
            <tr>
               <td id="alap" class="szoveg_td" colspan="2">${PriceDisplay}</td>
            </tr>
            <tr>
               <td>
                     <select ws-var="DeliveryType" ws-onchange="SetSelected" class="arus_dropdown" required>
                        <option ws-replace="DeliveryTypeList"></option>
                        <option value="-1"></option>
                        <option ws-template="DeliveryTypeItem" value="${TypeID}">${Name}</option>
                     </select>
               </td>
            </tr>
            <tr>
               <td><button class="szamla" id="Submit" ws-onlick="Accept">Számla átadva</button><button class="torles" ws-onclick="Reset"">Fuvar törlés</button></td>
            </tr>
         </table>
      </div>