     <div class="main">
      <p style="text-align: center;"><span ws-replace="Message"></span><span id="success" ws-template="Success">${Message}</span><span id="error" ws-template="Error">${Message}</span></p>
         <table class="uticel_taxi">
            <th class="szoveg_th" colspan="2">Képbeküldés</th>
            <tr>
               <td class="table_file">
                  <form method="post" action="/imagesubmit" enctype="multipart/form-data">
                     <label for="kep">Válaszd ki a képet</label><br>
                     <input class="file" type="file" name="kep" accept="image/png" required><br>
                     <input class="submit" type="submit" value="Beküldés"></form>
                  </form>
               </td>
            </tr>
         </table>
      </div>