<div class="main">
    <p style="text-align: center;"><span id="success" style="display: none;"></span><span id="error" style="display: none;"></span></p>
    <h2>Inaktivitás jelentés</h2>
    <div class="form">
        <label>Időszak</label><br>
        <input class="inputbox" type="text" ws-var="Duration" required><br>
        <label>Oka</label><br>
        <input class="inputbox" type="text" ws-var="Reason" required><br>
        <button class="infogombok" ws-onclick="Submit">Elküldés</button>
    </div>
</div>