      <div class="main">
         <table class="foinfo_table">
            <th class="foinfo" colspan="2">
               ${Name}  
            </th>
            <tr><td colspan="2"><hr class="infohr"></td></tr>
            <th class="foinfo" colspan="2">Alap információk</th>
            <tr class="tablerow">
               <td class="foinfo">
                  <ul class="infolista">
                     <li class="option">Rang
                     <li class="option">AccountID
                     <li class="option">Kiosztott autó
                     <li class="option">Eddigi összes kereset
                     <li class="option">Kétheti kereset
                  </ul>
               </td>
               <td class="foinfo">
                  <ul class="infolista">
                     <li class="option">${Rank}
                     <li class="option">${AccID}
                     <li class="option"><ul class="infolista" ws-hole="Cars"><li ws-template="CarItem" class="option">${RegNum}</li></ul></li>
                     <li class="option">${MoneySum}
                     <li class="option">${2WeekMoney}
                  </ul>
               </td>
               <td class="gombinfo" rowspan="3">
                  <a href="namechange"><button class="infogombok">Név változtatás</button></a>
                  <a href="passchange"><button class="infogombok">Jelszó változtatás</button></a>
               </td>
            </tr>
            <tr><td colspan="2"><hr class="infohr"></td></tr>
            <th class="foinfo" colspan="2">Taxis információk</th>
            <tr>
               <td class="foinfo">
                  <ul class="infolista">
                     <li class="option">Napi hívás
                     <li class="option">Heti hívás
                     <li class="option">Összes hívás
                  </ul>
               </td>
               <td class="foinfo">
                  <ul class="infolista">
                     <li class="option">${TaxiDaily}
                     <li class="option">${TaxiWeekly}
                     <li class="option">${TaxiSum}
                  </ul>
               </td>
               <td></td>
            </tr>
            <tr><td colspan="2"><hr class="infohr"></td></tr>
            <tr>
            <th class="foinfo" colspan="2">Vontis információk</th>
            <tr>
               <td class="foinfo">
                  <ul class="infolista">
                     <li class="option">Napi hívás
                     <li class="option">Heti hívás
                     <li class="option">Összes hívás
                  </ul>
               </td>
               <td class="foinfo">
                  <ul class="infolista">
                     <li class="option">${TowDaily}
                     <li class="option">${TowWeekly}
                     <li class="option">${TowSum}
                  </ul>
               </td>
               <td></td>
            </tr>
            <tr><td colspan="2"><hr class="infohr"></td></tr>
            <tr>
            <th class="foinfo" colspan="2">Beszállítós információk</th>
            <tr>
               <td class="foinfo">
                  <ul class="infolista">
                     <li class="option">Napi hívás
                     <li class="option">Heti hívás
                     <li class="option">Összes hívás
                  </ul>
               </td>
               <td class="foinfo">
                  <ul class="infolista">
                     <li class="option">${TransDaily}
                     <li class="option">${TransWeekly}
                     <li class="option">${TransSum}
                  </ul>
               </td>
               <td></td>
            </tr>
            <tr><td colspan="2"><hr class="infohr"></td></tr>
         </table>
      </div>
