       <div class="wrapper">
         <div class="title">
            Bejelentkezés
         </div>
         <form>
            <div class="field">
               <input type="text" ws-var="Name" required>
               <label>IG név</label>
            </div>
            <div class="field">
               <input type="password" ws-var="Password" required>
               <label>Jelszó</label>
            </div>
            <div class="content">
               <div class="checkbox">
                  <input type="checkbox" ws-var="RememberMe" id="remember-me">
                  <label for="remember-me">Jegyezz meg</label>
               </div>
               <div class="pass-link">
                  <a href="#">Elfelejtetted <br>a jelszavad?</a>
               </div>
            </div>
            <div class="field">
               <button class="approve" ws-onclick="Login">Bejelentkezés</button>
            </div>
            <div class="signup-link">
               Nem vagy tag? <a href="/registration">Regizz itt</a>
            </div>
         </form>
      </div>