      <div class="wrapper">
         <div class="title">
            Regisztráció
         </div>
            <div class="field">
               <input type="text" ws-var="Name" required>
               <label>IG név (Példa_Béla)</label>
            </div>
            <div class="field">
               <input type="text" ws-var="AccID" required>
               <label>Account ID</label>
            </div>
            <div class="field">
               <input type="text" ws-var="Email" required>
               <label>Email</label>
            </div>
            <div class="field">
               <input type="password" ws-var="Password" required>
               <label>Jelszó</label>
            </div>
            <div class="field">
               <input type="password" ws-var="PasswordRepeat" required>
               <label>Jelszó mégegyszer</label>
            </div>
            <button class="submit" ws-onclick="Register">Regisztráció</button>
            <div class="signup-link">
               Tag vagy már? <a href="/">Jelentkezz be</a>
            </div>
      </div>
