<div class="main docview">
   <p style="text-align: center;"><span id="success" style="display: none;"></span><span id="error" style="display: none;"></span></p>
    <h1>Iratok megjelenítése</h1>
    <table class="uticel_taxi">
       <tr>
          <td>
                <select class="dropdown" style="width: 300px;" ws-var="Member" ws-onchange="Selection" required>
                   <option value="${MemberID}" ws-template="MemberItem">${MemberName}</option>
                   <option ws-replace="MemberList"></option>
                </select>
          </td>
          <td><button class="approve" ws-onclick="Show" id="show">Megjelenítés</button></td>
       </tr>
       <tr style="display:none;" id="docs">
          <td style="width: 450px"><img width="320" src="${PersonalID}"></td>
          <td style="width: 450px"><img width="320" src="${DriversLicense}"></td>
       </tr>
    </table>
 </div>