<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CambLogistics</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://unicons.iconscout.com/release/v2.1.9/css/unicons.css'>
    <link rel="stylesheet" href="/loginstyle.css">
    <link rel="icon" type="image/x-icon" href="/icon.png">

</head>
<body>
    <div ws-replace="SuccessBox"></div>
    <div ws-replace="ErrorBox"></div>
    <!-- alert success popup start -->
    <div class="alert-box-wrap alert-success-popup" ws-template="SuccessMessageBox" id="${Active}">
        <div class="alert-content">
            <div class="icon">
                <img class="iconimg" src="/success_icon.png" alt="alert-icon">
            </div>
            <div class="alertbody">
                <h3 id="successMessage" class="alert-text">${StatusMessage}</h3>
            </div>
            <div class="close-alert">
                <label onclick="document.getElementsByClassName('alert-box-wrap')[0].removeAttribute('id')" for="alert-success-popup" class="alert-close">&times;</label>
            </div>
        </div>
    </div>
    <!-- alert success popup end -->
    <!-- alert error popup start -->
    <div class="alert-box-wrap alert-error-popup" ws-template="ErrorMessageBox" id="${Active}">
        <div class="alert-content">
            <div class="icon">
                <img class="iconimg" src="/error_icon.png" alt="alert-icon">
            </div>
            <div class="alertbody">
                <h3 id="errorMessage" class="alert-text">${StatusMessage}</h3>
            </div>
            <div class="close-alert">
                <label onclick="document.getElementsByClassName('alert-box-wrap')[1].removeAttribute('id')" for="alert-error-popup" class="alert-close">&times;</label>
            </div>
        </div>
    </div>
    <!-- alert error popup end -->
    <div ws-replace="Main"></div>
    <div ws-replace="scripts"></div>
</body>
</html>
