/* Közös dolgok */
@import url("/main.css");
/* Oldal háttere */

/* Sidenav */
ul{
  background-color: #4f0000;
}
.adat{
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.szoveg_td_also{
  color: #fff;
  font-size: 14px;
  padding-top: 15px;
  text-align: center;
}
.listak{
  align-content: center;
  margin-bottom: 2%;
  margin-top: 3%;
}
.docview button{
  margin-left: 3%;
}
.service button{
  margin-top: 3%;
}
h1{
  color: #fff;
}
a{
  color: rgba(255, 180, 40, 0.9);
}