/* Közös dolgok */
@import url('/main.css');
/* Sidenav */
.sidenav ul{
  background-color: #262626;
}
h2{
  color: #fff;
}
.form{
  padding-top: 0px;
  color: #fff;
}
.form input{
  margin-bottom: 3%;
}
p{
  color: #fff;
  font-size: 13pt;
}