/* Közös dolgok */
@import url("/main.css");
/* Sidenav */
.sidenav ul {
  background-color: #262626;
}
.sidenav{
  background-color: #262626;
}
.info_sidebutton{
  margin-bottom: 5%;
}
/* Taxis oldal */
.terkepes_table{
  padding-top: 50px;
  margin: auto;
}
.terkepes_td{
  padding-right: 40px;
  padding-left: 40px;
}
.uticel_taxi{
  text-align: left;
}
.terkep_cim{
  text-align: left;
  color: #fff;
  font-size: 15px;
}

/* File feltöltés */
::-webkit-file-upload-button{
  font-family: 'Aclonica', sans-serif;
  border: 0px;
  width: 300px;
  background: #262626;
  padding: 15px 30px;
  margin: 10px 25px;
  font-size: 15px;
  border-radius: 15px;
  color: #fff;
}
::-webkit-file-upload-button:hover{
  background: rgba(255, 180, 40, 0.6);
}
.table_file{
  padding-top: 35px;
  color: #fff;
  font-size: 26px;
}
/* Információs oldal */
.foinfo_table{
  padding-top: 100px;
}
.foinfo{
  font-family: 'Aclonica', sans-serif;
  width: 400px;
  padding-top: 0px;
  padding-left: 30px;
  padding-right: 30px;
  color: #fff;
  text-align: center;
}
.gombinfo{
  width: 300px;
  vertical-align: text-top;
}
.tablerow{
  height: 10px;
}
.infolista{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 350px;
  background-color: transparent;
  color: #fff;
  position: static;
  text-align: center;
  font-size: 13pt;
}
.option{
  padding: 10px;
}
.changelog h2{
  color: #fff;
}
.changelog h4{
  padding-top: 12px;
}
.changelog{
  line-height: 1.6em;
}
.table_file input{
  margin-bottom: 3%
}