<!-- !PAGE CONTENT! -->
<div class="cl-main" style="margin-left:300px;margin-top:43px;">

    <!-- Header -->
    <header class="cl-container" style="padding-top:22px">
        <h5><b><i class="fa fa-car"></i> Autó nyílvántartás</b></h5>
    </header>

    <div class="cl-panel">
        <div class="cl-row-padding" style="margin:0 -16px">
            <table id="edit" style="display:none">
                <tr>
                    <td style="padding-right: 30px;padding-top: 10px;">
                        <label class="cl-large">ID</label><br>
                        <input class="cl-input" ws-var="NewID" type="text" name="ID">
                    </td>
                    <td style="padding-right: 30px;padding-top: 10px;">
                        <label class="cl-large">Típus</label><br>
                        <input class="cl-input" ws-var="NewType" type="text" name="Type">
                    </td>
                    <td style="padding-right: 30px;padding-top: 10px;">
                        <label class="cl-large">Plate</label><br>
                        <input class="cl-input" ws-var="NewRegNum" type="text" name="Plate">
                    </td>
                    <td style="padding-right: 30px;padding-top: 25px;">
                        <label class="szoveg_td_also">Parkjegy</label><br>
                        <input class="cl-check" type="checkbox" ws-var="NewTicket" name="Park">
                    </td>
                    <td style="padding-right: 30px;padding-top: 25px;">
                        <label class="szoveg_td_also">Airride</label><br>
                        <input class="cl-check" type="checkbox" ws-var="NewAirRide" name="Air">
                    </td>
                    <td style="padding-right: 30px;padding-top: 25px;">
                        <label class="cl-large">GPS</label><br>
                        <input class="cl-check" type="checkbox" ws-var="NewGPS" name="GPS">
                    </td>
                </tr>
                <tr>
                    <td style="padding-right: 30px;padding-top: 25px;">
                        <label class="cl-large">Motor</label><br>
                        <select class="cl-select" ws-var="NewEngine" style="width: 150px">
                            <option ws-replace="EngineTuningList"></option>
                            <option ws-template="TuningItem" value="${TuningLevel}">${TuningName}</option>
                        </select>
                    </td>
                    <td style="padding-right: 30px;padding-top: 25px;">
                        <label class="cl-large">ECU</label><br>
                        <select class="cl-select" ws-var="NewECU" style="width: 150px">
                            <option ws-replace="ECUTuningList"></option>
                        </select>
                    </td>
                    <td style="padding-right: 30px;padding-top: 25px;">
                        <label class="cl-large">Turbó</label><br>
                        <select class="cl-select" ws-var="NewTurbo" style="width: 150px">
                            <option ws-replace="TurboTuningList"></option>
                        </select>
                    </td>
                    <td style="padding-right: 30px;padding-top: 25px;">
                        <label class="cl-large">Váltó</label><br>
                        <select class="cl-select" ws-var="NewGearbox" style="width: 150px">
                            <option ws-replace="GearboxTuningList"></option>
                        </select>
                    </td>
                    <td style="padding-right: 30px;padding-top: 25px;">
                        <label class="cl-large">Fék</label><br>
                        <select class="cl-select" ws-var="NewBrakes" style="width: 150px">
                            <option ws-replace="BrakeTuningList"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="padding-right: 30px;padding-top: 25px;">
                        <label class="cl-large">Gumi</label><br>
                        <select class="cl-select" ws-var="NewTyres" style="width: 150px">
                            <option ws-replace="TyreTuningList"></option>
                        </select>
                    </td>
                    <td style="padding-right: 30px;padding-top: 25px;">
                        <label class="cl-large">Felfüggesztés</label><br>
                        <select class="cl-select" ws-var="NewSuspension" style="width: 150px">
                            <option ws-replace="SuspensionTuningList"></option>
                        </select>
                    </td>
                    <td style="padding-right: 30px;padding-top: 25px;">
                        <label class="cl-large">Súlycsökkentés</label><br>
                        <select class="cl-select" ws-var="NewWeightReduction" style="width: 150px">
                            <option ws-replace="WeightReductionTuningList"></option>
                        </select>
                    </td>
                    <td style="padding-right: 30px;padding-top: 25px;">
                        <label class="cl-large">Kulcs1</label><br>
                        <select class="cl-select" ws-var="NewKeyHolder1" style="width: 150px">
                            <option value="-1">Senki</option>
                            <option ws-replace="MemberList1"></option>
                            <option ws-template="KHListMember" value="${UserID}">${Name}</option>
                        </select>
                    </td>
                    <td style="padding-right: 30px;padding-top: 25px;">
                        <label class="cl-large">Típus</label><br>
                        <select class="cl-select" ws-var="NewWorkType" style="width: 150px">
                            <option value="-1">Egyéb</option>
                            <option value="0">Taxi</option>
                            <option value="1">Vontató</option>
                        </select>
                    </td>
                    <td><button ws-onclick="Confirm" class="cl-button cl-large cl-green" id="approvecar">Jóváhagy</button></td>
                </tr>
            </table>

            <table class="cl-padding-top-64">
                <tr class="cl-large" style="text-align: center;">
                    <td rowspan="2">ID</td>
                    <td rowspan="2">Típus</td>
                    <td rowspan="2">Rendszám</td>
                    <td rowspan="2">Park</td>
                    <td rowspan="2">Air</td>
                    <td rowspan="2">GPS</td>
                    <td colspan="8">Tuning</td>
                    <td rowspan="2">Key1</td>
                    <td rowspan="2">Milyen munkára</td>                    
                    <td rowspan="2">Szerkesztés</td>
                    <td rowspan="2">Törlés</td>
                </tr>
                <tr class="cl-large">
                    <td>Motor</td>
                    <td>ECU</td>
                    <td>Turbó</td>
                    <td>Váltó</td>
                    <td>Fék</td>
                    <td>Gumi</td>
                    <td>Súlycsöki</td>
                    <td>Felfügi</td>
                </tr>
                <tr>
                    <td colspan="18" style="border-bottom: 2px solid rgba(255, 180, 40, 0.9);"></td>
                </tr>
                <tr ws-replace="CarList"></tr>
                <tr ws-template="CarItem" class="cl-large" style="text-align: center;">
                    <td class="adat">${ID}</td>
                    <td class="adat">${CarType}</td>
                    <td class="adat">${CarReg}</td>
                    <td class="adat">
                        <input type="checkbox" ws-var="OldTicket" class="checkbox" disabled>
                    </td>
                    <td class="adat">
                        <input type="checkbox" ws-var="OldAirRide" class="checkbox" disabled>
                    </td>
                    <td class="adat">
                        <input type="checkbox" ws-var="OldGPS" class="checkbox" disabled>
                    </td>
                    <td class="adat">${Engine}</td>
                    <td class="adat">${ECU}</td>
                    <td class="adat">${Turbo}</td>
                    <td class="adat">${Gearbox}</td>
                    <td class="adat">${Brakes}</td>
                    <td class="adat">${Tyres}</td>
                    <td class="adat">${WeightReduction}</td>
                    <td class="adat">${Suspension}</td>
                    <td class="adat">${Key1}</td>
                    <td class="adat">${WorkType}</td>
                    <td class="adat">
                        <button ws-replace="EditButtonPlaceholder"></button><button ws-template="EditButtonTemplate" ws-onclick="Edit" class="cl-button cl-large cl-green">Szerkesztés</button>
                    </td>
                    <td class="adat"><button ws-replace="DeleteButtonPlaceholder"></button><button ws-template="DeleteButtonTemplate" ws-onclick="Delete" class="cl-button cl-large cl-red">X</button></td>
                </tr>
            </table>
        </div>
    </div>
    <!-- End page content -->
</div>
