<!-- !PAGE CONTENT! -->
<div class="cl-main main" style="margin-left:300px;margin-top:43px;">

    <!-- Header -->
    <header class="cl-container" style="padding-top:22px">
        <h5><b><i class="fa fa-bell"></i> Changelog</b></h5>
    </header>

    <!-- Body -->
    <div class="cl-row-padding cl-margin-bottom">
        <div class="cl-quarter">
            <div class="cl-container cl-light-red cl-padding-small">
                <div class="cl-left"><i class="fa fa-calendar cl-xxlarge"></i></div>
                <div class="cl-right">
                    <h3>v0.5.0</h3>
                </div>
            </div>
        </div>
        <div class="cl-panel">
            <div class="cl-row-padding" style="margin:0 -16px">
                <div class="cl-twothird">
                    <h4>2022.??.??. </h4>
                    <h6>
                        Már az [ADMIN] oldalakon is vannak hibajelzések<br>
                        Egységesített műveleti- és visszajelzési rendszer [DEV]<br>
                        Nem frissülnek a listák a művelet befejeződése előtt [ADMIN] [BUGFIX]
                        Teljesen új felhasználói felület<br>
                        "Jegyezz meg" eltávolítva a bejelentkezőoldalról
                    </h6>
                </div>
            </div>
        </div>
    </div>

        <div class="cl-container cl-green cl-padding-small">
                <div class="cl-left"><i class="fa fa-calendar cl-xxlarge"></i></div>
                <div class="cl-right">
                    <h3>v0.4.0</h3>
                </div>
            </div>
        </div>
        <div class="cl-panel">
            <div class="cl-row-padding" style="margin:0 -16px">
                <div class="cl-twothird">
                    <h4>2022.08.10. </h4>
                    <h6>
                        Bejelentkező- és regisztrációs oldalon az "Enter" gomb lenyomásával is be lehet lépni/regisztrálni<br>
                        Inaktivitás jelentés mostmár a programon belül fog történni<br>
                        Elfelejtett jelszós rendszer implementálása<br>
                        Beszállítós információk eltávolítva a főoldalról<br>
                        Kevesebb villódzás az [ADMIN] oldalakon<br>
                        Új konfigurációs fájl formátum[DEV]<br>
                        Kisebb változtatások a felületen<br>
                        Favicon minden oldalon megjelenik
                    </h6>
                </div>
            </div>
        </div>
    </div>

    <div class="cl-row-padding cl-margin-bottom">
        <div class="cl-quarter">
            <div class="cl-container cl-green cl-padding-small">
                <div class="cl-left"><i class="fa fa-calendar cl-xxlarge"></i></div>
                <div class="cl-right">
                    <h3>v0.3.2</h3>
                </div>
            </div>
        </div>
        <div class="cl-panel">
            <div class="cl-row-padding" style="margin:0 -16px">
                <div class="cl-twothird">
                    <h4>2022.06.17. </h4>
                    <h6>
                        Az érvényes munkamenettel rendelkező, de elfogadásra váró felhasználók kijelentkeztetésre kerülnek<br>
                        Felhasználó törlésekor érvénytelenedik annak összes munkamenete<br>
                        A szervizképek külön ablakban jelennek meg[ADMIN]
                    </h6>
                </div>
            </div>
        </div>
    </div>

    <div class="cl-row-padding cl-margin-bottom">
        <div class="cl-quarter">
            <div class="cl-container cl-green cl-padding-small">
                <div class="cl-left"><i class="fa fa-calendar cl-xxlarge"></i></div>
                <div class="cl-right">
                    <h3>v0.3.1</h3>
                </div>
            </div>
        </div>
        <div class="cl-panel">
            <div class="cl-row-padding" style="margin:0 -16px">
                <div class="cl-twothird">
                    <h4>2022.06.15. </h4>
                    <h6>
                        Jelszóváltoztatás javítva<br>
                        A képekhez csak megfelelő jogosultsággal lehet hozzáférni<br>
                    </h6>
                </div>
            </div>
        </div>
    </div>

    <div class="cl-row-padding cl-margin-bottom">
        <div class="cl-quarter">
            <div class="cl-container cl-green cl-padding-small">
                <div class="cl-left"><i class="fa fa-calendar cl-xxlarge"></i></div>
                <div class="cl-right">
                    <h3>v0.3.0</h3>
                </div>
            </div>
        </div>
        <div class="cl-panel">
            <div class="cl-row-padding" style="margin:0 -16px">
                <div class="cl-twothird">
                    <h4>2022.06.15. </h4>
                    <h6>
                        Felhasználók rendezése rang szerint[ADMIN]<br>
                        Híváskezelésnél felhasználók rendezése hívások szerint csökkenő sorrendben[ADMIN]<br>
                        Emelt ár megjelenítése a beszállításnál dupla helyett<br>
                        Nem jelennek meg a felhasználóénál magasabb rangok a rangmódosításnál[ADMIN]<br>
                        A navbarban nincs dupla elválasztó<br>
                        Rugalmasabb jogosultságrendszer
                    </h6>
                </div>
            </div>
        </div>
    </div>

    <div class="cl-row-padding cl-margin-bottom">
        <div class="cl-quarter">
            <div class="cl-container cl-green cl-padding-small">
                <div class="cl-left"><i class="fa fa-calendar cl-xxlarge"></i></div>
                <div class="cl-right">
                    <h3>v0.2.0</h3>
                </div>
            </div>
        </div>
        <div class="cl-panel">
            <div class="cl-row-padding" style="margin:0 -16px">
                <div class="cl-twothird">
                    <h4>2022.06.12. </h4>
                    <h6>
                        Munkamenet meghosszabbításra kerül minden oldalbetöltéskor<br>
                        Szervizképek és iratok megjelenítése[ADMIN]<br>
                        Beszállításnál és vontatásnál csak 1.25 szorzó munkaidőn kívül
                    </h6>
                </div>
            </div>
        </div>
    </div>

    <div class="cl-row-padding cl-margin-bottom">
        <div class="cl-quarter">
            <div class="cl-container cl-green cl-padding-small">
                <div class="cl-left"><i class="fa fa-calendar cl-xxlarge"></i></div>
                <div class="cl-right">
                    <h3>v0.1.0</h3>
                </div>
            </div>
        </div>
        <div class="cl-panel">
            <div class="cl-row-padding" style="margin:0 -16px">
                <div class="cl-twothird">
                    <h4>2022.06.11. </h4>
                    <h6>
                        Bejelentkezés és regisztráció kinézete javítva<br>
                        Sikeres regisztációkor átirányít a bejelentkező oldalra<br>
                        Nincs fix lejárati ideje a sütinek<br>
                        Nyitvatartás/dupla árak kezelése
                    </h6>
                </div>
            </div>
        </div>
    </div>

    <div class="cl-row-padding cl-margin-bottom">
        <div class="cl-quarter">
            <div class="cl-container cl-green cl-padding-small">
                <div class="cl-left"><i class="fa fa-calendar cl-xxlarge"></i></div>
                <div class="cl-right">
                    <h3>v0.0.1</h3>
                </div>
            </div>
        </div>
        <div class="cl-panel">
            <div class="cl-row-padding" style="margin:0 -16px">
                <div class="cl-twothird">
                    <h4>2022.05.22. </h4>
                    <h6>Első működő verzió</h6>
                </div>
            </div>
        </div>
    </div>

    <!-- End page content -->
</div>
