<!-- !PAGE CONTENT! -->
<div class="cl-main main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="cl-container" style="padding-top:22px">
    <h5><b><i class="fa fa-id-card"></i> Iratok beküldése</b></h5>
  </header>

  <div class="cl-row-padding cl-margin-bottom">
      <div class="cl-quarter">
          <div class="cl-container cl-blue cl-padding-16">
              <div class="cl-right">
                  <input class="cl-button" type="file" name="personal" accept="image/png" required><br>
              </div>
              <div class="cl-clear"></div>
              <h4>Személyi</h4>
          </div>
      </div>
      <div class="cl-quarter">
          <div class="cl-container cl-light-red cl-padding-16">
              <div class="cl-right">
                  <input class="cl-button" type="file" name="licence" accept="image/png" required><br>
              </div>
              <div class="cl-clear"></div>
              <h4>Jogsi</h4>
          </div>
      </div>
      <div class="cl-quarter">
          <button class="cl-button cl-margin-top cl-green cl-padding-16" ws-onclick="Submit">Beküldés</button>
      </div>
  </div>

  <div class="cl-panel">
    <div class="cl-row-padding" style="margin:0 -16px">
      <div class="cl-quarter">
        <h5>Személyi</h5>
        <img src="${PersonalID}" style="width:100%">
      </div>
      <div class="cl-quarter">
        <h5>Jogsi</h5>
        <img src="${DriversLicense}" style="width:100%">
      </div>
    </div>
  </div>
  <!-- End page content -->
</div>