<!-- !PAGE CONTENT! -->
<div class="cl-main main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="cl-container" style="padding-top:22px">
    <h5><b><i class="fa fa-file-image-o"></i> Szervízképek beküldése</b></h5>
  </header>
  <form action="/imagesubmit" method="post" enctype="multipart/form-data">
  <div class="cl-row-padding cl-margin-bottom">
      <div class="cl-quarter">
          <div class="cl-container cl-blue cl-padding-16">
              <div class="cl-right">
                  <input class="cl-button" type="file" name="kep" accept="image/png" required><br>
              </div>
              <div class="cl-clear"></div>
              <h4>Szervízképek feltöltése</h4>
          </div>
      </div>
      <div class="cl-quarter">
          <input type="submit" class="cl-button cl-margin-top cl-green cl-padding-16" value="Beküldés">
      </div>
  </div>
  </form>

  <!-- End page content -->
</div>