<!-- !PAGE CONTENT! -->
<div class="cl-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="cl-container" style="padding-top:22px">
    <h5><b><i class="fa fa-free-code-camp"></i> Inaktivitás</b></h5>
  </header>

  <div class="cl-panel">
    <div class="cl-row-padding" style="margin:0 -16px">
      <table class="listak">
        <tr class="szoveg_td">
                <td class="cl-large" style="padding-right: 25px;">Név</td>
                <td class="cl-large" style="padding-right: 25px;">Kezdet</td>
                <td class="cl-large" style="padding-right: 25px;">Vég</td>
                <td class="cl-large" style="padding-right: 25px;">Ok</td>
                <td class="cl-large" colspan="2" style="padding-right: 25px;">Jóváhagyás</td>
            </tr>
            <tr><td colspan="6" style="border-bottom: 2px solid rgba(255, 180, 40, 0.9);"></td></tr>
            <tr ws-replace="InactivityList">
            <tr ws-template="InactivityListItem" class="adat">
                <td class="cl-large" >${Name}</td>
                <td class="cl-large" >${From}</td>
                <td class="cl-large" >${To}</td>
                <td class="cl-large" >${Reason}</td>
                <td class="cl-large" ><button class="cl-button cl-green" ws-onclick="Approve">Jóváhagy</button></td>
                <td class="cl-large" ><button class="cl-button cl-red" ws-onclick="Deny">Elutasít</button></td>
            </tr>
        </table>
        <br>
        <table class="cl-padding-top-64">
            <th colspan="10" class="cl-large">Szabisok</th>
            <tr class="szoveg_td">
                <td class="cl-large" style="padding-right: 25px;">Név</td>
                <td class="cl-large" style="padding-right: 25px;">Szabin van-e?</td>
            </tr>
            <tr><td colspan="10" style="border-bottom: 2px solid rgba(255, 180, 40, 0.9);"></td></tr>
            <tr ws-replace="UserList"></tr>
            <tr ws-template="UserListItem">
                <td class="cl-large" >${Name}</td>
                <td class="cl-large" >${OnHoliday}</td>
            </tr>
        </table>
    </div>
  </div>
  <!-- End page content -->
</div>