<!-- !PAGE CONTENT! -->
<div class="cl-main main" style="margin-left:300px;margin-top:43px;">

    <!-- Header -->
    <header class="cl-container" style="padding-top:22px">
        <h5><b><i class="fa fa-dashboard"></i> Inaktivitás jelentés</b></h5>
    </header>

    <div class="cl-row-padding cl-margin-bottom">
        <div class="cl-panel">
            <div class="cl-row-padding" style="margin:0 -16px">
                <div class="cl-twothird">
                    <label>Kezdet</label><br>
                    <input class="cl-select" type="date" ws-var="Begin" required><br>
                    <label class="cl-padding-top-16">Vég</label><br>
                    <input class="cl-select" type="date" ws-var="End" required><br>
                    <label class="cl-padding-top-16">Oka</label><br>
                    <input class="cl-input" type="text" ws-var="Reason" required>
                    <button class="cl-button cl-margin-top" ws-onclick="Submit">Elküldés</button>

                </div>
            </div>
        </div>
    </div>
    <!-- End page content -->
</div>