<!-- !PAGE CONTENT! -->
<div class="cl-main main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="cl-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Információk</b></h5>
  </header>

  <div class="cl-row-padding cl-margin-bottom">
    <div class="cl-quarter">
      <div class="cl-container cl-purple cl-padding-16">
        <div class="cl-left"><i class="fa fa-phone cl-xxxlarge"></i></div>
        <div class="cl-right">
          <h3>${CallSum}</h3>
        </div>
        <div class="cl-clear"></div>
        <h4>Összes hívások</h4>
      </div>
    </div>
    <div class="cl-quarter">
      <div class="cl-container cl-green cl-padding-16">
        <div class="cl-left"><i class="fa fa-dollar cl-xxxlarge"></i></div>
        <div class="cl-right">
          <h3>${MoneySum}</h3>
        </div>
        <div class="cl-clear"></div>
        <h4>Begyűjtött eddigi összeg</h4>
      </div>
    </div>
    <div class="cl-quarter">
      <div class="cl-container cl-brown cl-padding-16">
        <div class="cl-left"><i class="fa fa-user cl-xxxlarge"></i></div>
        <div class="cl-right">
          <h3>${Rank}</h3>
        </div>
        <div class="cl-clear"></div>
        <h4>Rang</h4>
      </div>
    </div>
    <div class="cl-quarter">
      <div class="cl-container cl-orange cl-text-white cl-padding-16">
        <div class="cl-left"><i class="fa fa-car cl-xxxlarge"></i></div>
        <div class="cl-right">
          <h3>${Cars}</h3>
        </div>
        <div class="cl-clear"></div>
        <h4>Kiosztott autó</h4>
      </div>
    </div>
  </div>

  <div class="cl-panel">
    <div class="cl-row-padding" style="margin:0 -16px">
      <div class="cl-third">
        <h5>Telephelyünk</h5>
        <img src="telephely.png" style="width:100%" alt="CambLogistics telephely">
      </div>
      <div class="cl-twothird">
        <h5>Rögzített hívások</h5>
        <table class="cl-table cl-striped cl-white">
          <tr ws-replace="RecentCalls"></tr>
          <tr ws-template="CallItem">
            <td><i class="fa fa-call cl-text-blue cl-large"></i></td>
            <td>${From} - ${To}</td>
            <td><i>${Price}</i></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>
  <div class="cl-container">
    <h5>Heti hívásszám</h5>
    <div class="cl-grey">
            <div class="cl-container cl-center cl-padding cl-orange cl-text-white" style="width:${WeeklyCallPercentage}%">${WeeklyCallPercentage}%</div>
    </div>
  </div>
  <hr>
  <!-- End page content -->
</div>
