<!-- !PAGE CONTENT! -->
<div class="cl-main" style="margin-left:300px;margin-top:43px;">

    <!-- Header -->
    <header class="cl-container" style="padding-top:22px">
        <h5><b><i class="fa fa-users"></i> Tagok</b></h5>
    </header>

    <div class="cl-panel">
        <div class="cl-row-padding" style="margin:0 -16px">
            <table id="edit" style="display:none">
                <tr>
                    <td style="padding-right: 30px;padding-top: 10px;">
                        <label class="cl-large">Név</label><br>
                        <input class="cl-input" ws-var="NewName" type="text" name="Name">
                    </td>
                    <td style="padding-right: 30px;padding-top: 10px;">
                        <label class="cl-large">AccountID</label><br>
                        <input class="cl-input" ws-var="AccID" type="text" name="AccID">
                    </td>
                    <td style="padding-right: 30px;padding-top: 10px;">
                        <label class="cl-large">Telefonszám</label><br>
                        <input class="cl-input" ws-var="PhoneNum" type="text" name="Phone">
                    </td>
                </tr>
                <tr>
                    <td style="padding-right: 30px;padding-top: 10px;">
                        <label class="cl-large">Lakcím</label><br>
                        <input class="cl-input" ws-var="Address" type="text" name="Address">
                    </td>
                    <td style="padding-right: 30px;padding-top: 10px;">
                        <label class="cl-large">Születési dátum</label><br>
                        <input class="cl-input" ws-var="BirthDate" type="text" name="BirthDate">
                    </td>
                    <td class="cl-large">
                            <div ws-replace="RoleSelectHole"></div>
                            <select ws-template="RoleSelectorEnabled" class="cl-select" ws-var="Rank" ws-onchange="ChangeRank">
                                <option ws-replace="RankList"></option>
                                <option ws-template="RankListItem" value="${Level}">${Name}</option>
                            </select>
                            <select ws-template="RoleSelectorDisabled" class="cl-select" ws-var="Rank" disabled>
                                <option ws-replace="RankList"></option>
                            </select>
                    </td>
                    <td><button ws-onclick="Confirm" class="cl-button cl-large cl-green" id="approvecar">Jóváhagy</button></td>
                </tr>
            </table>
            
            <div class="cl-half">
                <table>
                    <th colspan="10" class="cl-large">Tagok</th>
                    <tr class="szoveg_td">
                        <td class="cl-large">ID</td>
                        <td class="cl-large">Név</td>
                        <td class="cl-large">Adatok</td>
                        <td class="cl-large">Törlés</td>
                    </tr>
                    <tr><td colspan="10" style="border-bottom: 2px solid rgba(255, 180, 40, 0.9);"></td></tr>
                    <tr ws-replace="ActiveUserList"></tr>
                    <tr ws-template="ActiveUserListItem">
                        <td class="cl-large">${ID}</td>
                        <td class="cl-large">${Name}</td>
                        <td class="cl-large"><div ws-replace="DataButtonHole"></div><button ws-template="DataButton" class="cl-button cl-large cl-green" ws-onclick="EditData">Edit</button></td>
                        <td class="cl-large"><div ws-replace="DeleteButtonHole"></div><button ws-template="DeleteButton" value="${ID}" class="cl-large cl-button cl-red" ws-onclick="DeleteUser">X</button></td>
                    </tr>
                </table>
            </div>
            <div class="cl-half">
                <table>
                    <th colspan="10" class="cl-large">Fekete lista</th>
                    <tr>
                        <td style="padding-right: 30px;padding-top: 10px;">
                            <label class="cl-large">Név</label><br>
                            <input class="cl-input" ws-var="BLName" type="text" name="Name">
                        </td>
                        <td style="padding-right: 30px;padding-top: 10px;">
                            <label class="cl-large">Account ID</label><br>
                            <input class="cl-input" ws-var="BLAccID" type="text" name="AccID">
                        </td>
                        <td style="padding-right: 30px;padding-top: 10px;">
                            <label class="cl-large">Rang</label><br>
                            <select ws-var="BLRank" class="cl-select">
                                <option ws-replace="BLRankList"></option>
                                <option ws-template="BLRankListItem" value="${Level}">${Name}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right: 30px;padding-top: 10px;">
                            <label class="cl-large">Indok</label><br>
                            <input class="cl-input" ws-var="BLReason" type="text" name="Reason">
                        </td>
                        <td style="padding-right: 30px;padding-top: 25px;">
                            <label class="cl-large">Visszajöhet-e?</label><br>
                            <input type="checkbox" ws-var="BLComeBack" name="ComeBack" class="cl-checkbox">
                        </td>
                        <td>
                            <button ws-onclick="BLConfirm" class="cl-button cl-large cl-green" id="approveexmember">Jóváhagy</button>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr class="szoveg_td">
                        <td class="cl-large" style="padding-right: 25px;">Név</td>
                        <td class="cl-large" style="padding-right: 25px;">Account ID</td>
                        <td class="cl-large" style="padding-right: 25px;">Rang</td>
                        <td class="cl-large" style="padding-right: 25px;">Kirúgás indoka</td>
                        <td class="cl-large" style="padding-right: 25px;">Visszajöhet-e</td>
                    </tr>
                    <tr><td colspan="10" style="border-bottom: 2px solid rgba(255, 180, 40, 0.9);"></td></tr>
                    <tr ws-replace="RemovedUserList"></tr>
                    <tr ws-template="RemovedUserListItem">
                        <td class="cl-large">${Name}</td>
                        <td class="cl-large">${AccID}</td>
                        <td class="cl-large">${Rank}</td>
                        <td class="cl-large">${Reason}</td>
                        <td class="cl-large">${ComeBack}</td>
                        <td class="cl-large"><button ws-onclick="Edit" class="cl-button cl-green">Szerkesztés</button></td>
                        <td class="cl-large"><button ws-onclick="Remove" class="cl-button cl-red">Törlés</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- End page content -->
</div>
