<!-- !PAGE CONTENT! -->
<div class="cl-main main" style="margin-left:300px;margin-top:43px;">

    <!-- Header -->
    <header class="cl-container" style="padding-top:22px">
        <h5><b><i class="fa fa-user-o"></i> Név változtatás</b></h5>
    </header>

    <div class="cl-row-padding cl-margin-bottom">
        <div class="cl-panel">
            <div class="cl-row-padding" style="margin:0 -16px">
                <div class="cl-twothird">
                    <label>Régi név</label><br>
                    <input class="cl-input" type="text" ws-var="OldName" required><br>
                    <label class="cl-padding-top-16">Új név</label><br>
                    <input class="cl-input" type="text" ws-var="NewName" required><br>
                    <label class="cl-padding-top-16">Jelszó</label><br>
                    <input class="cl-input" type="password" ws-var="Password" required>
                    <button class="cl-button cl-margin-top cl-green" ws-onclick="Submit">Elküldés</button>

                </div>
            </div>
        </div>
    </div>
    <!-- End page content -->
</div>