<!-- !PAGE CONTENT! -->
<div class="cl-main main" style="margin-left:300px;margin-top:43px;">

    <!-- Header -->
    <header class="cl-container" style="padding-top:22px">
        <h5><b><i class="fa fa-truck"></i> Vontatás</b></h5>
    </header>

    <div class="cl-row-padding cl-margin-bottom">
        <div class="cl-panel">
            <div class="cl-row-padding" style="margin:0 -16px">
                <h4 ws-hole="Price"></h4>
            </div>
        </div>
        <div class="cl-panel">
            <div class="cl-row-padding" style="margin:0 -16px">
                <div class="cl-quarter">
                    <label>Honnan</label>
                    <select class="cl-select" ws-var="From">
                        <option value="-1"></option>
                        <option ws-replace="LocationList"></option>
                        <option ws-template="LocationItem" value="${LocationID}">${LocationName}</option>
                    </select><br>
                </div>
                <div class="cl-quarter">
                    <label>Hova</label>
                    <select class="cl-select" ws-var="To">
                        <option value="-1"></option>
                        <option ws-replace="LocationList"></option>
                        <option ws-template="LocationItem" value="${LocationID}">${LocationName}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="cl-panel">
            <div class="cl-row-padding" style="margin:0 -16px">
                <div class="cl-third">
                    <button class="cl-button cl-margin-top cl-green" id="Submit" ws-onclick="Submit">Számla átadva</button>
                    <button class="cl-button cl-margin-top cl-red" id="Reset" ws-onclick="Reset">Fuvar törlése</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End page content -->
</div>