<html lang="hu">

<head>
	<meta charset="utf-8" />
</head>

<body style="color: white; background: #404040">
	<img src="https://camblogistics.hu/logo.png" style="text-align: center; width: 70%" />
	<h2>CambLogistics elfelejtett jelszó</h2>

	Tisztelt <span style="font-weight: bold">${Name}!</span><br /><br />

	Ezúton értesítjük Önt, hogy elfelejtett jelszó emlékeztetőt kért a felhasználójára weboldalunkon.<br />
	Az Ön új jelszava: <span style="font-weight: bold">${NewPassword}</span><br /><br />

	Kérjük, hogy a jelszavát minél hamarabb változtassa meg az Ön biztonsága érdekében.<br /><br />

	Üdvözlettel: CambLogistics csapata<br /><br>

	(Ez egy automatikusan generált e-mail így ne válaszoljon rá! Köszönjük!)
</body>

</html>
